@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  min-width: 220px;
  min-height: 38px;
  padding-top: 11px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-content h1,
.main-content h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header {
  margin-bottom: 59px;
  padding-bottom: 48px;

  font-size: 17px;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #f4f7f9;
}

.inner-header {
  margin-bottom: 8px;
}

.header-top {
  min-height: 42px;
  margin-bottom: 46px;

  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  display: block;

  text-align: center;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  cursor: pointer;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.header-logo {
  width: 220px;
  min-height: 42px;
  padding-top: 13px;
}

.search {
  position: relative;

  margin-right: auto;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.3;
}

.search input {
  width: 270px;
  min-height: 42px;
  padding-left: 49px;

  color: inherit;

  background-color: #293449;
  border: 0;
}

.search input::placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  color: #000000;

  background-color: #ffffff;
}

.search input:focus::placeholder {
  color: #ffffff;
}

.search input:focus + .search-icon path {
  fill: #ee3643;
}

.search input:hover + .search-icon,
.search input:focus + .search-icon {
  opacity: 1;
}

.shopping-menu {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.shopping-menu-link {
  position: relative;

  display: block;
  min-width: 150px;
  min-height: 42px;
  padding-top: 12px;

  color: inherit;
}

.shopping-menu-link:hover {
  background-color: #212a3a;
}

.shopping-menu-link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #161d29;
}

.bookmates,
.cart {
  padding-right: 22px;
  padding-left: 40px;
}

.bookmates:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);
}

.bookmates::before,
.cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 16px;
  height: 16px;

  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmates::before {
  background-image: url("../img/icon-bookmark.svg");
}

.cart::before {
  background-image: url("../img/icon-cart.svg");
}

.bookmates:hover::before,
.cart:hover::before {
  opacity: 1;
}

.bookmates:active::before,
.cart:active::before {
  opacity: 0.5;
}

.shopping-link-active {
  background-color: #ee3643;
}

.order-place {
  background-color: #63a63e;
}

.order-place:hover {
  background-color: #5fbb2d;
}

.order-place:active {
  background-color: #518534;
}

.header-middle {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.slogan {
  width: 197px;
  margin: 0;
  margin-top: 3px;
  margin-left: 53px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
  margin-left: 70px;

  text-align: center;
}

.header-contacts-phone {
  display: block;
  width: 270px;
  min-height: 45px;
  margin: 0;
  padding-top: 10px;
  padding-left: 20px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 12px 10px;
  border: 3px solid #ffffff;
}

.header-contacts-address {
  margin-top: 4px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.menu {
  margin-left: auto;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  width: 300px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 21px;
  line-height: 21px;
}

.user-menu li {
  background-color: #ffffff;
}

.registration-item {
  margin-left: 10px;
}

.user-menu-link {
  display: block;
  min-width: 121px;
  min-height: 45px;
  padding-top: 12px;

  text-align: center;
  color: inherit;

  background-color: #ffffff;
}

.user-menu-link:hover {
  color: #ee3643;
}

.user-menu-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.login {
  position: relative;

  padding-right: 18px;
  padding-left: 40px;
}

.login svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.registration {
  min-width: 150px;
}

.user {
  position: relative;

  min-width: 254px;
  padding-left: 24px;
}

.user svg {
  position: absolute;
  top: 13px;
  left: 13px;
}

.logout {
  position: relative;

  min-width: 45px;

  font-size: 0;

  border: 0;
  cursor: pointer;
}

.logout svg {
  position: absolute;
  top: 14px;
  right: 10px;
}

.login:hover path,
.user:hover path,
.logout:hover path {
  fill: #32425c;
}

.login:active path,
.user:active path,
.logout:active path {
  fill: #c5c5c5;
}

.submenu {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
  padding-left: 19px;

  list-style: none;
  color: #32425c;
}

.submenu li:nth-child(2n) {
  position: relative;

  flex-grow: 1;
  padding-left: 17px;
}

.submenu li:nth-child(2n)::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;

  width: 5px;
  height: 5px;

  background-color: #32425c;
  border-radius: 50%;
}

.submenu-link {
  display: block;
  margin-top: 5px;
  margin-right: 15px;

  font-size: 16px;
  line-height: 24px;
  color: inherit;
  text-decoration: underline;

  background-color: inherit;
}

.submenu-link:hover {
  color: #ee3643;
}

.submenu-link:active {
  color: inherit;

  opacity: 0.3;
}

.main-navigation {
  line-height: 17px;

  background-color: #32425c;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style: none;
  color: #ffffff;

  box-shadow: 0 5px 0 0 #293449;
}

.site-navigation-item {
  flex-grow: 1;
}

.site-navigation a {
  display: block;
  min-height: 55px;
  padding-top: 20px;

  text-align: center;
  color: inherit;
}

.site-navigation-item:first-child a {
  padding-left: 22px;
}

.site-navigation-item:last-child a {
  padding-right: 22px;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
  box-shadow: 0 5px 0 0 #1d2739;
}

.container h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 29px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.features-wrap {
  margin-bottom: 33px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 409px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.first-column,
.second-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first-column {
  width: 620px;
}

.second-column {
  justify-content: flex-end;
  width: 320px;
}

.feature-item {
  width: 300px;
  min-height: 123px;

  background-repeat: no-repeat;
}

.feature-item {
  position: relative;

  margin-bottom: 20px;
  padding-bottom: 20px;
}

.feature-item h3 {
  display: block;
  width: 160px;
  margin: 0;
  margin-top: 21px;
  margin-left: 23px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.feature-item a {
  display: block;
  width: 135px;
  min-height: 38px;
  margin-top: 12px;
  margin-left: 25px;
  padding-top: 11px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: inherit;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.feature-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.feature-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-position: 213px 31px;
}

.tool {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-position: 197px 33px;
}

.technic {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: 191px 31px;
}

.discounts {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-position: 196px 26px;
}

.delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-position: 191px 32px;
}

.new::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  width: 60px;
  height: 59px;

  background-image: url("../img/new.png");
  background-repeat: no-repeat;
}

.slider {
  position: relative;

  width: 620px;
  height: 266px;
  margin-bottom: 20px;

  font-family: "Cuprum", "Arial", sans-serif;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  position: absolute;

  display: none;
  width: 620px;
  height: 266px;

  color: #ffffff;

  background-color: #32425c;
  background-repeat: no-repeat;
  background-position: top center;
}

.slider-item h3 {
  margin: 0;
  margin-top: 23px;
  margin-left: 24px;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-item p {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 25px;

  font-size: 18px;
  line-height: 24px;
}

.slider a {
  position: absolute;
  bottom: 22px;
  left: 25px;

  min-width: 195px;
}

.rotary-hammers {
  background-image: url("../img/slider-1.jpg");
}

.drills {
  background-image: url("../img/slider-2.jpg");
}

.slider-control {
  position: absolute;
  top: 114px;

  width: 22px;
  height: 40px;

  font-size: 0;

  background-repeat: no-repeat;
  cursor: pointer;
}

.control-previous {
  left: 25px;

  background-image: url("../img/icon-left.svg");
}

.control-next {
  left: 578px;

  background-image: url("../img/icon-right.svg");
}

.slider-radio-wrap {
  position: absolute;
  bottom: 36px;
  left: 295px;

  display: flex;
  min-width: 10px;
  height: 10px;

  font-size: 0;
}

.slider-radio {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 10px;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide-1:checked ~ .slider-radio-wrap label[for="slide-1"],
.slide-2:checked ~ .slider-radio-wrap label[for="slide-2"] {
  background-color: #ee3643;
  border: 2px solid #ffffff;
}

.slide-1:checked ~ .slider-list .rotary-hammers,
.slide-2:checked ~ .slider-list .drills {
  display: block;
}

.slide-1:focus ~ label[for="slide-1"],
.slide-2:focus ~ label[for="slide-2"],
.slide-1:focus ~ .slider-radio-wrap label[for="slide-1"],
.slide-2:focus ~ .slider-radio-wrap label[for="slide-2"] {
  box-shadow: 0 0 0 2px #3bbce3;
}

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1px;
  min-height: 89px;

  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #f9f5f0;
}

.popular-header h2 {
  width: 600px;
  margin-left: 30px;
}

.popular-header a {
  width: 253px;
  min-height: 38px;
  margin-right: 24px;
}

.popular-manufacture {
  margin-bottom: 45px;
}

.manufactures-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 370px;
  margin: 0;
  padding: 20px 0;

  list-style: none;
}

.manufacture-item {
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
}

.manufacture-item:nth-child(4n) {
  margin-right: 0;
}

.manufacture-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacture-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacture-item:active img {
  opacity: 0.3;
}

.manufacture-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
}

.services-wrap {
  margin-bottom: 54px;
  padding-top: 40px;

  background-color: #f4f7f9;
}

.service-info {
  width: 400px;
}

.services-content {
  display: flex;
  width: 950px;
}

.services ul {
  margin-bottom: 1px;

  list-style: none;
}

.services-buttons {
  position: relative;

  width: 240px;
  padding: 0;
  padding-top: 44px;
}

.services-buttons::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
}

.service-button {
  display: block;
  min-height: 62px;
  padding-top: 14px;
  padding-left: 22px;

  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
}

.service-button:hover {
  color: #ffffff;

  background-color: #293449;
}

.services-list {
  flex-grow: 1;
  padding: 0;
  padding-left: 80px;
}

.service-item {
  display: none;
  min-height: 285px;

  background-repeat: no-repeat;
  background-position: top center;
}

.delivery-input:checked ~ .services-buttons .service-button[for="input-delivery"],
.guarantee-input:checked ~ .services-buttons .service-button[for="input-guarantee"],
.credit-input:checked ~ .services-buttons .service-button[for="input-credit"] {
  color: #32425c;

  background-color: #ffffff;
  border: 0;
}

.delivery-input:focus ~ .services-buttons .service-button[for="input-delivery"],
.guarantee-input:focus ~ .services-buttons .service-button[for="input-guarantee"],
.credit-input:focus ~ .services-buttons .service-button[for="input-credit"] {
  outline: 2px solid #ee3643;
}

.delivery-input:checked ~ .services-list .service-delivery,
.guarantee-input:checked ~ .services-list .service-guarantee,
.credit-input:checked ~ .services-list .service-credit {
  display: block;
}

.service-delivery {
  background-image: url("../img/delivery.png");
  background-position: 151px 25px;
}

.service-guarantee {
  background-image: url("../img/guarantee.png");
  background-position: 239px 3px;
}

.service-credit {
  background-image: url("../img/credit.png");
  background-position: 165px 1px;
}

.service-item h3 {
  width: 350px;
  margin-top: 42px;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.service-item p {
  width: 375px;
}

.service-delivery p {
  width: 278px;
}

.service-item button {
  min-width: 195px;
  margin-top: 26px;
  padding-top: 3px;
}

.information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.information p {
  margin-top: 0;
  margin-bottom: 25px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 520px;
  min-height: 396px;
}

.info .slim-paragraph {
  width: 440px;
}

.delivery-list {
  margin: 0;
  margin-top: -4px;
  padding: 0;

  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.delivery-list li {
  position: relative;

  margin-bottom: 20px;
  padding-left: 37px;
}

.delivery-list li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.info .button {
  width: 220px;
  margin-top: auto;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts p {
  width: 210px;
}

.map {
  width: 300px;
  height: 158px;
  margin-top: 7px;
  margin-bottom: 25px;
  padding: 0;

  background-color: #f4f2ed;
  border: 0;
  cursor: pointer;
}

.feedback-button {
  margin-top: auto;
}

.catalog-header {
  display: flex;
  flex-direction: column;
}

.catalog-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.catalog-header h1 {
  order: 1;
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 28px;

  background-color: #f2f6f8;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 0;

  list-style: none;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumb-link {
  display: block;
  margin-right: 17px;
  margin-bottom: 10px;
  padding-left: 26px;

  color: inherit;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.breadcrumb-main {
  position: relative;
  top: 2px;
  left: -2px;

  width: 16px;
  height: 16px;
  margin-right: 12px;
  padding: 0;

  font-size: 0;

  background-image: none;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-link:active {
  opacity: 0.5;
}

.breadcrumb-main:hover path {
  fill: #293449;
}

.filter {
  width: 220px;

  text-transform: uppercase;
}

.catalog-wrap .filter-header {
  margin: 0;
  margin-bottom: 11px;
  padding: 10px 0;
  padding-left: 19px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-bottom: 25px;

  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:last-of-type {
  border: 0;
}

.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
}

.filter .price-filter {
  margin-bottom: 16px;
  padding-bottom: 25px;
}

.price-wrap {
  font-size: 17px;
  line-height: 18px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.price-range {
  position: relative;

  width: 100%;
  height: 80px;
  margin-top: 14px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.scale {
  height: 2px;

  background-color: #d7dcde;
}

.bar {
  width: 84%;
  height: 2px;

  background-color: #00ca74;
}

.toggle {
  position: absolute;
  top: 31px;
  left: 0;

  box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle-min {
  left: 20px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  text-align: center;
}

.min-price,
.max-price {
  max-width: 95px;
  height: 38px;
  padding-bottom: 4px;

  text-align: center;

  border: 0;

  -moz-appearance: textfield;
       appearance: none;
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter .checkbox-filter {
  margin-bottom: 17px;
  padding-bottom: 3px;
}

.checkbox-filter ul,
.radio-filter ul {
  padding: 0;
}

.checkbox-filter li,
.radio-filter li {
  min-height: 23px;
  margin-bottom: 16px;
}

.checkbox-filter label,
.radio-filter label {
  position: relative;

  padding-left: 35px;

  cursor: pointer;
}

.checkbox-filter label::before,
.radio-filter label::before {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
  opacity: 0.79;
}

.checkbox-filter label::before {
  top: -1px;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.radio-filter label::before {
  top: -2px;
  left: -1px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
}

.checkbox-filter input:checked ~ label::before {
  background-image: url("../img/checkbox-on.svg");
}

.radio-filter input:checked ~ label::before {
  background-image: url("../img/radio-on.svg");
}

.checkbox-filter label:hover::before,
.radio-filter label:hover::before {
  opacity: 1;
}

.checkbox-filter input:focus + label::before,
.radio-filter input:focus + label::before {
  outline: 2px solid #ee3643;
}

.checkbox-filter input:disabled ~ label,
.radio-filter input:disabled ~ label {
  opacity: 0.3;
}

.filter .radio-filter {
  margin-bottom: 34px;
}

.radio-filter legend {
  letter-spacing: 0.6px;
}

.filter-button {
  width: 140px;
  min-height: 38px;

  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}

.filter-button:hover {
  border-color: #bdc6ca;
}

.filter-button:active {
  border-color: #ee3643;
  outline: 0;
}

.products-list-wrap {
  width: 700px;
}

.products-list-wrap .sort {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.sort h2 {
  margin: 0;
  margin-right: 140px;

  font: inherit;
}

.sort-price {
  margin-right: 70px;
}

.sort-type {
  margin-right: 66px;
}

.sort-function {
  margin-right: 46px;
}

.sort-up {
  margin-right: 21px;
}

.sort-up,
.sort-down {
  display: block;
  width: 11px;
  height: 10px;
  padding-top: 4px;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: center center;
}

.sort-order-active path {
  fill: #ee3643;
}

.sort a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;

  text-decoration-color: #ee3643;
  text-decoration-style: dotted;
  text-underline-position: under;
}

.sort a:hover {
  color: #000000;

  text-decoration-style: solid;
}

.sort-up:hover path,
.sort-down:hover path {
  fill: #000000;
}

.sort .active {
  color: #ee3643;
  text-decoration: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  list-style: none;
}

.catalog-page .catalog-list {
  margin-bottom: 32px;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-page .catalog-item {
  margin-bottom: 19px;
}

.catalog-page .catalog-item:nth-child(4n) {
  margin-right: 20px;
}

.catalog-page .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-buttons {
  display: flex;
}

.catalog-item-name {
  color: inherit;
}

.catalog-item-name h3 {
  display: flex;
  flex-direction: column;
  margin: 9px 0;

  font-size: 18px;
  line-height: 20px;
}

.catalog-item img {
  order: -1;
}

.catalog-buttons {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 170px;
  padding-top: 5px;

  background-color: #ffffff;
}

.catalog-button {
  width: 135px;
  min-height: 38px;
  margin-bottom: 7px;

  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;

  background: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
  cursor: pointer;
}

.add-to-cart {
  position: relative;

  padding-top: 11px;

  color: #ffffff;

  background-color: #63a63e;
  border: 0;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.add-to-cart::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 14px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.add-to-cart:hover {
  background-color: #5fbb2d;
}

.add-to-cart:hover::before {
  opacity: 1;
}

.add-to-cart:active {
  background-color: #518534;
  box-shadow: inset 0 -3px 0 0 #518534;
}

.add-to-bookmates:hover {
  border-color: #32425c;
}

.add-to-bookmates:active {
  border-color: #32425c;
  opacity: 30%;
}

.price-old {
  margin: 2px 0;
  margin-bottom: 10px;

  color: #999999;
  text-decoration: line-through;
}

.price {
  align-self: center;
  width: 141px;
  height: 38px;
  margin-top: auto;
  margin-bottom: 21px;
  margin-left: 7px;
  padding-top: 10px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;

  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  text-transform: uppercase;
}

.pagination-link {
  display: block;
  min-width: 38px;
  height: 38px;
  margin-right: 10px;
  padding-top: 9px;

  line-height: 18px;
  text-align: center;
  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-link:hover {
  border: 1px solid #bdc6ca;
}

.pagination-link:active {
  border: 1px solid #ee3643;
}

.pagination-current {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination-next {
  padding-right: 32px;
  padding-left: 32px;
}

.product-info-wrap {
  padding-top: 40px;
  padding-bottom: 56px;

  background-color: #f4f7f9;
}

.product-info p {
  width: 910px;
}

.footer {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.footer-top {
  min-height: 193px;

  font-size: 18px;
  line-height: 24px;

  background-color: #32425c;
}

.footer-top-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-information {
  width: 326px;
}

.footer-logo {
  width: 220px;
  height: 63px;
  margin-bottom: 33px;
  padding-top: 20px;
}

.footer-address {
  margin-left: 3px;
}

.footer-address a {
  color: inherit;
}

.footer-navigation {
  width: 614px;
  padding-top: 14px;
}

.footer-navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  margin-top: 24px;
  padding: 0;

  list-style: none;
}

.footer-navigation li {
  margin-bottom: 10px;
  margin-left: 60px;
}

.footer-navigation a {
  color: inherit;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  text-decoration: none;

  opacity: 0.5;
}

.product-list {
  color: #ffd180;
}

.footer-bottom {
  min-height: 107px;

  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer-bottom-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
}

.footer-company {
  width: 250px;
}

.footer-bottom a {
  color: #ffd180;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom a:active {
  color: #ee3643;
}

.footer-social {
  width: 300px;
  margin-left: 38px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 14px;

  list-style: none;
  font-size: 0;
}

.social-link {
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 3px;
  margin-bottom: 3px;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.vkontakte {
  background-image: url("../img/icon-vk.svg");
}

.facebook {
  background-image: url("../img/icon-fb.svg");
}

.instagram {
  background-image: url("../img/icon-insta.svg");
}

.social-link:hover {
  background-color: #ee3643;
}

.footer-feedback {
  width: 135px;
  margin-right: 53px;
  margin-left: auto;
}

.footer-copyright {
  width: 98px;
  margin-right: 13px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;

  display: none;

  background-color: #ffffff;
}

.bigmap {
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;

  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.75);
}

.bigmap iframe {
  position: relative;
  z-index: 2;

  border: 0;
}

.bigmap div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.feedback {
  width: 620px;
  min-height: 430px;
  margin-top: -215px;
  margin-left: -310px;

  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback-inputs-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
  padding-top: 34px;
}

.feedback p {
  margin-bottom: 8px;
}

.feedback label {
  display: block;
  margin-bottom: 9px;

  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.feedback input {
  width: 220px;
  min-height: 38px;
  padding-left: 16px;
}

.feedback textarea {
  width: 460px;
  height: 114px;
  padding-top: 8px;

  resize: none;
}

.feedback input,
.feedback input::placeholder,
.feedback textarea,
.feedback textarea::placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;
}

.feedback input::-moz-placeholder {
  line-height: 30px;
  color: #a9a9a9;
}

.feedback input:-ms-input-placeholder,
.feedback textarea:-ms-input-placeholder {
  color: #a9a9a9;
}

.feedback input,
.feedback textarea {
  padding-left: 13px;

  color: #000000;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.feedback input:hover,
.feedback textarea:hover {
  border-color: #b5b5b5;
}

.feedback input:focus,
.feedback textarea:focus {
  border-color: #ee3643;
  outline: 0;
}

.feedback-submit-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1px;
  min-height: 112px;
  margin-top: 21px;
  padding: 0 80px;

  background-color: #f4f4f4;
}

.feedback-submit {
  padding-top: 4px;
}

.purchase {
  width: 620px;
  min-height: 282px;
  margin-top: -141px;
  margin-left: -310px;
  padding-top: 40px;

  font-family: "Cuprum", "Arial", sans-serif;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 81px 48px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.purchase h2 {
  margin-left: 179px;

  font-size: 30px;
  line-height: 30px;
}

.purchase-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 1px;
  min-height: 112px;
  margin-top: 68px;

  background-color: #f1f1f1;
}

.purchase-footer a {
  width: 220px;
  margin-right: 10px;
}

.purchase-footer button {
  margin-left: 10px;
  padding-top: 4px;

  color: #000000;

  background-color: #ffffff;
}

.purchase-footer button:hover {
  background-color: #ffffff;
  border: 1px solid #ee3643;
}

.purchase-footer button:active {
  opacity: 0.7;
}

.close {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 2;

  width: 21px;
  height: 21px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  cursor: pointer;
}

.popup-show {
  display: block;

  animation: bounce 0.6s;
}

.feedback-error {
  animation: shake 0.6s;
}
