body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: 0;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.header {
  font-size: 17px;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #f4f7f9;
}

.header-top {
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.logo {
  background-color: #ee3643;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.search input {
  color: inherit;

  background-color: inherit;
  border: 0;
}

.search input::placeholder {
  color: inherit;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  color: #000000;

  background-color: #ffffff;
}

.shopping-menu {
  list-style: none;
  text-align: center;
}

.shopping-menu a {
  color: inherit;
}

.shopping-menu a:hover {
  background-color: #212a3a;
}

.shopping-menu a:active {
  background-color: #161d29;
}

.order-place a {
  background-color: #63a63e;
}

.order-place a:hover {
  background-color: #5fbb2d;
}

.order-place a:active {
  background-color: #518534;
}

.slogan {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  text-align: center;
}

.header-contacts-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-menu {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
}

.user-menu a {
  color: inherit;

  background-color: #ffffff;
}

.user-menu a:hover {
  color: #ee3643;
}

.user-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu-exit button {
  background-color: inherit;
  border: 0;
}

.user-menu-orders a,
.user-menu-account a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;

  background-color: inherit;
}

.main-navigation {
  line-height: 17px;

  background-color: #32425c;
}

.site-navigation {
  list-style: none;
  text-align: center;
  color: #ffffff;
}

.site-navigation a {
  color: inherit;
}

.site-navigation a:hover {
  background-color: #293449;
}

.container h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.features-list {
  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.feature-item {
  background-repeat: no-repeat;
  background-position: top center;
}

.feature-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.feature-item a {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.feature-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.feature-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
}

.tool {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
}

.technic {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
}

.discounts {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
}

.delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
}

.slider {
  font-family: "Cuprum", "Arial", sans-serif;
}

.slider-list {
  list-style: none;
}

.slider-item {
  color: #ffffff;

  background-color: #32425c;
  background-repeat: no-repeat;
  background-position: top center;
}

.slider-item h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-item p {
  font-size: 18px;
  line-height: 24px;
}

.rotary-hammers {
  background-image: url("../img/slider-1.jpg");
}

.drills {
  background-image: url("../img/slider-2.jpg");
}

.index-columns h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.popular-header {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #f9f5f0;
}

.popular-header h2 {
  color: #32425c;
}

.manufactures-list {
  list-style: none;
}

.manufacture-item {
  border: 1px solid #eaeaea;
}

.manufacture-item:active img {
  opacity: 0.3;
}

.services ul {
  list-style: none;
}

.service-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #32425c;
  border: 0;
}

.service-item {
  background-repeat: no-repeat;
  background-position: top center;
}

.service-delivery {
  background-image: url("../img/delivery.png");
}

.service-guarantee {
  background-image: url("../img/guarantee.png");
}

.service-credit {
  background-image: url("../img/credit.png");
}

.service-item h3 {
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  font-weight: 400;
}

.service-button:hover {
  background-color: #293449;
}

.service-button-active {
  color: #32425c;

  background-color: #ffffff;
}

.delivery-list {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.map {
  border: 0;
}

.breadcrumbs {
  list-style: none;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: inherit;
}

.filter {
  text-transform: uppercase;
}

.filter fieldset {
  border: 0;
}

.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
}

.filter-button {
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  border: 1px solid #e5e5e5;
}

.catalog-item-name {
  color: inherit;
}

.catalog-item-name h3 {
  font-size: 18px;
  line-height: 20px;
}

.catalog-button {
  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;

  background: #ffffff;
  border: 3px solid #63a63e;
}

.add-to-cart {
  color: #ffffff;

  background-color: #63a63e;
}

.add-to-cart:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
}

.add-to-cart:active {
  background-color: #518534;
  border-color: #518534;
}

.add-to-bookmates:hover {
  border-color: #32425c;
}

.add-to-bookmates:active {
  border-color: #32425c;
  opacity: 30%;
}

.price-old {
  color: #999999;
  text-decoration: line-through;
}

.price {
  color: #ffffff;

  background-color: #ee3643;
}

.footer {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.footer-top {
  font-size: 18px;
  line-height: 24px;

  background-color: #32425c;
}

.footer-navigation ul {
  list-style: none;
}

.footer-navigation a {
  color: inherit;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
}

.product-list {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer-bottom a {
  color: #ffd180;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom a:active {
  color: #ee3643;
}

.footer-social ul {
  list-style: none;
}
